Chat app using WebHook.json
{
  "name": "WebHook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0bd026ef-f7e6-454d-ba95-chatapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "10a8c906-39b7-496d-88d8-6cd5cb85a259",
      "name": "Webhook",
      "webhookId": "0bd026ef-f7e6-454d-ba95-cc23be0ca150"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ],
      "id": "1860ee48-1d60-4e03-8b39-327f64366bc4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        296,
        224
      ],
      "id": "7a7a88a4-0ce8-4f18-89d3-7bf5f37bcbb4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nAWg6hUB2wvrjWT9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        576,
        0
      ],
      "id": "4b6670d0-3855-4a32-a1fd-cb1fb73beefc",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b528cf6c-fa82-4d24-9676-59e1e2abdec5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2fb9643fd8b6256c2b0b624380d9d65fa3251844249b1c6ad78cc60c080b062"
  },
  "id": "HiOMYLQqv5mr-RLgBO8Av",
  "tags": []
}